<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/favicon/img.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>TF-IDF Analyzer</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <div class="container mt-4">
    <h2>Загрузите текстовые файлы</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" type="file" name="files" accept=".txt" multiple required>
            </div>
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>
    </div>


    {% if table %}
        <h2 style="text-align: center;">Результаты анализа</h2>
        <table border="1">
            <tr>
                 <th>#</th>
                <th>Слово</th>
                <th>TF</th>
                <th>IDF</th>
                <th>TF-IDF</th>
            </tr>
            {% for row in table %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.word }}</td>
                <td>{{ row.tf }}</td>
                <td>{{ "%.5f"|format(row.idf) }}</td>
                <td>{{ "%.5f"|format(row.tfidf) }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
